# Terraform
.terraform/
*.tfstate
*.tfstate.backup
terraform/backend.tf

# Security & Secrets
*.json
*.env

# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment specifics
*.tfvars
terraform/files/
saves/*
!saves/README.md
logs/
.DS_Store
docs/config.js

# Agent files
.agents/
