# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Security & Secrets
*.json
*.env

# Python
__pycache__/
*.pyc
venv/

# Environment specifics
*.tfvars
terraform/files/
saves/*
!saves/README.md
logs/
.DS_Store
GEMINI.md
docs/config.js
docs/config.json
